<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Enrima Client Web Example</display-name>
	
	
	<servlet>
		<servlet-name>ModelListServlet</servlet-name>
		<servlet-class>at.ac.iiasa.ime.enrima.example.servlet.ModelListServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ModelListServlet</servlet-name>
		<url-pattern>/modelList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ModelServlet</servlet-name>
		<servlet-class>at.ac.iiasa.ime.enrima.example.servlet.ModelServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ModelServlet</servlet-name>
		<url-pattern>/model</url-pattern>
	</servlet-mapping>
	
	
  <welcome-file-list>
    <welcome-file>modelList</welcome-file>
  </welcome-file-list>

</web-app>